@media (max-width: 1140px){
	.sidebar__card ul{
	    padding-left: 45px;
	    padding-right: 45px;
	}
	.sidebar__card ul li a{
	    font-size: 14px;
	}
}

@media (max-width: 1035px){
	.sidebar__card ul{
	    padding-left: 15px;
	    padding-right: 40px;
	}
	.sidebar__card ul li a{
	    font-size: 13px;
	}
	.sidebar__card div#tweetbutton__div{
	    padding-left: 10px;
	}
	.rightbar__card{
	    padding: 15px;
	    padding-top: 10px;
	}
	.imagecontent__img{
	    height: 170px;
	}
}

@media (max-width: 991px){
	.post__card .postcard__body div p{
	    font-size: 14px;
	}
	.sidebar__card ul{
	    padding-left: 15px;
	    padding-right: 15px;
	}
	.sidebar__card div#tweetbutton__div{
	    padding-left: 0px;
	}
	.post__card .postcard__body .postauthor__img{
	    width: 40px;
	    height: 40px;
	}
}

@media (max-width: 767px){
	#sidebar__col{
		display: none;
	}
}

@media (max-width: 575px){
	#rightbar__col{
		display: none;
	}
	.post__card{
	    padding: 20px;
	}
}

@media (max-width: 425px){
	.post__card{
	    padding: 10px;
	}
}

@media (max-width: 375px){
	.imagecontent__img{
	    height: 150px;
	}
}